body {
  background: var(--app-surface);
  color: var(--app-text);
}

h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-style: normal;
}

.title {
  margin-bottom: 2rem;
}

.mantine-Input-input::placeholder {
  color: var(--app-placeholder);
  opacity: 1;
}
.mantine-DatePickerInput-placeholder {
  color: var(--app-placeholder);
  opacity: 1;
}
